@page "/acerca_de"

<PageTitle>Acerca de</PageTitle>

<h1>Mi información</h1>

<img src="imagenes\yo.jpg" title="MiFoto" width="250" height="300" class="mb-3">


<p><b>Nombre:</b> Gregoris de la cruz </p>
<br>
<p><b>Matricula:</b>2023-1122</p>
<br>
<p><b>Contacto (Telegram):</b> <a href="https://t.me/mrgregoris" target="_blank">mrgregoris</a></p>
<br>
<p><b>Correo:</b>Gregorisdel@gmail.com</p>
<br>
<p>Me gustaria desarrollar grandes proyectos .</p>
<br>