@page "/"

<PageTitle>Inicio</PageTitle>

<h1 class="display-4">Inicio</h1>  <!-- Título principal más grande -->
<h2 class="display-5">Bienvenido a Mi Aplicación Blazor</h2> <!-- Subtítulo un poco más pequeño -->
<h3 class="display-6">Gracias por ver mi tarea</h3> <!-- Texto más pequeño que el anterior -->

<div class="text-center">
    <img class="img-fluid" 
         style="max-width: 50%; height: auto;" 
         src="https://mariatrusa.org/wp-content/uploads/2022/05/Aprende-15-tips-para-mejorar-la-motivacion-personal.jpg" />
</div>

<p>“El éxito es la suma de pequeños esfuerzos repetidos día tras día.”</p>
